.bigdiv {
    width: 720px;
    margin: auto;
    border: 1px solid black;
    height: 480px;
    border-radius: 15px;
    margin-top: 80px;
    background-color: white;
    border: none;
    margin-bottom: 60px;
}

.loginqrcode {
    display: flex;
    justify-content: center;
    height: 49px;
    align-items: center;
    font-size: 15px;
}

.login {
    margin-right: 15px;
    border-bottom: 4px solid #ee8208;
    border-radius: 1px;
    line-height: 49px;
}

.login:hover {
    cursor: pointer;

}

.qrcode {
    color: rgb(128 77 77);
}

.qrcode:hover {
    border-bottom: 4px solid #666;
    color: rgb(128 77 77);
    border-radius: 1px;
    line-height: 49px;
    cursor: pointer;
}

.buttonbir {
    background-color: #ee8208;
    height: 32px;
    width: 312px;
    border: none;
    border-radius: 16px;
    color: white;
    margin-top: 16px;
}

.buttoniki {
    background-color: white;
    height: 32px;
    width: 312px;
    border: 1px solid #cacaca;
    border-radius: 16px;
    color: white;
    color: #666;
    margin-top: 8px;
}

.inputbir {
    height: 32px;
    width: 312px;
    margin: 10px auto 0 auto;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

.hr {
    border: 1px solid #ebe7e7;
}

.inputiki {
    border-radius: 4px;
    height: 32px;
    width: 312px;
    margin: 10px auto 0 auto;
    border: 1px solid #cacaca;
}

.inputbirdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.inputikidiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body {
    background-image: url(https://ok.ru/res/s/illustrations/anon21/background-big.svg);
    background-position: 50% -3412px;
    background-position-x: 50%;
    background-position-y: -3412px;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(249, 235, 210);
}

.buttonbirdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonikidiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cantlogin {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto 16px auto;
    color: #666;

}

.yandivler {
    background-color: #ddd;
    height: 1px;
    width: 17%;
}

.ucdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 10px auto;
}

.registerbutton {
    color: #666;
    width: 100%;
    margin: auto;
    --color_main-008: rgba(var(--color_main_rgb), 0.08);
    margin-bottom: 12px;
    width: 96px;
    height: 32px;
    border-radius: 16px;
    border: #666;
    color: #666;
}

.divlerarasi {
    color: #666;
}

.logolar {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    margin-right: 20px;
}

.buttonabir {
    text-decoration: none;
    color: #666;
}

.buttonaiki {
    text-decoration: none;
    color: white;
}

.yuxaridivsol {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.yuxaridivsag {

    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;

}

.yuxaribigdiv {
    height: 36px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
    box-sizing: inherit;
    font-family: Helvetica,Arial,sans-serif;
}

.bosluqlar{
    margin-right: 30px;
    color: #2c2d2e;
}

.bosluqlar:hover{
    background-color: #d0d0d3;
    height: 36px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.bosluqlarmail{
    margin-right: 30px;
    margin-left: 10px;
}

.bosluqlarmail:hover{
    
    background-color: #d0d0d3;
    height: 36px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.asagidiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.altyuxaridiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    color: #666;
    cursor: pointer;
    font-size: 12px;
}

.ikiminalti{
    display: flex;
    justify-content: center;
    color: #666;
    font-size: 12px;
}

.bosluqlariki{
    margin-right: 15px;
}

.bosluqlariki:hover{
    text-decoration: underline;
    color: black;
}

.bosluqlarikienglish{
    margin-right: 15px;

}